:root {
	--vp-c-brand: #191970;
	--vp-c-brand-light: #2c2cc3;
	--vp-c-brand-lighter: #7575e0;
	--vp-c-brand-dark: #06061d;
	--vp-c-brand-darker: #00003d;
	--vp-button-brand-text: white;
	--vp-button-brand-hover-text: #fedb8b;
}
.dark {
	--vp-c-brand: #fedb8b;
	--vp-c-brand-light: #feebbe;
	--vp-c-brand-lighter: #fffff1;
	--vp-c-brand-dark: #fdbd21;
	--vp-c-brand-darker: #b68202;
	--vp-c-text-1: #fffff1;
	--vp-button-brand-text: black;
	--vp-button-brand-hover-text: #191970;
}
